// .img-project {
//     transition: all 0.5s ease-in-out;
//     width: 150px;
// }

// .img-project:hover {
//     width: 300px;
// }

// li {
//     list-style-image: url(/right-arrow.svg);
//     /* OR */
//     list-style-type: '👉';
//     padding-inline-start: 0px;
//   }
li::marker {
  content: "› ";
}


.resume-button {
  //background-color: #ffffff00;
  //border: #F2Ce3E 2px solid;
  border-radius: 5px;
  //color: white;
  width: 160px;
  padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  img {
    width: 20px;
    height: 20px;
    //filter: invert(1);
    margin-right: 10px;
    transition: all 0.3s ease;
  }
}

.resume-button:hover {
  //background-color: #F2Ce3E;
  //color: black;
  img {
    //filter: invert(0);
  }
}


.project-portfolio {
   border-radius: 20px !important;
}