
<div class="text-white container-fluid">
    <div class="row g-2">

        <div class="col-md-6 col-12 offset-md-3 top">

        </div> 

        <div class="col-xl-8 offset-xl-2 game-list">

            <div class="tile" *ngFor="let game of games">
                <a [routerLink]="game.url_name"><img src="/assets/games/{{game.url_name}}.png"></a>
                <a [routerLink]="game.url_name">{{ game.name }}</a>
                <p>{{ game.released_year }}</p>
            </div>
            


        </div>
    </div>



</div>
