<div class="modal-header"> 
    <h4 class="modal-title">Score de {{ scoreInfos.pseudo }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

    <h5 class="text-center">{{ gameInfos.name }}/{{ scoreInfos.category_name }}</h5>

    <h5 class="text-center">{{ scoreInfos.score }} - {{ scoreInfos.created_at | date:'dd/MM/YYYY' }}</h5>

    <div class="bg-danger">
    </div>

    <div *ngIf="scoreInfos.link && scoreInfos.link != 'null'">
        <label>Lien : </label>
        <a [href]="scoreInfos.link" target="_blank">{{ scoreInfos.link }}</a>
    </div>

    <div class="" *ngIf="scoreInfos.video">
        <label>Video : </label>
        <a [href]="getVideoUrl()" target="_blank">{{ getVideoUrl() }}</a>
    </div>
    <div class="" *ngIf="scoreInfos.image">
        <label>Image : </label>
        <div class="">
            <img src="{{ getImageUrl() }}" class="w-100">
        </div>
    </div>
    

</div>







            

