.desc {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(255, 215, 104) 10%, #F2Ce3E 90%);
}

h2:before,
h2:after {
    content: "--";
    padding: 0 10px;
    color: #F2Ce3E;
    font-style: italic;
}