<div class="container-fluid">

    <div class="row mt-5 justify-content-center">

        <div class="col-12 text-center">

            <img class="border-round project-img" src="{{ project.image }}" alt="" style="width: 140px; height: 140px;">

        </div>


    </div>

    <div class="row mt-2 text-center justify-content-center">

        <h1 class="col-12">{{'Projet' | translate}} : <strong>{{ project.name | translate }}</strong></h1>
        <h1 class="col-12 text-warning"> ({{ project.year ? ((project.year | date:"YYYY") + (project.yearEnd ? ' - '+(project.yearEnd | date:"YYYY") : '')) : ('En cours' | translate) }}) </h1>


        <div class="col-12">
            <h5><i>{{ project.low_desc | translate }}</i></h5>
        </div>


    </div>


    <div class="row justify-content-center">
        <div class="my-1 text-center ">

            <img class="skill mx-1" style="width: 50px; height: 50px;" src="{{ skill.image }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ skill.name | translate }}" *ngFor="let skill of project.skills">

        </div>
    </div>


    <div class="row my-5 justify-content-center">

        <div class="col-10 col-md-6 col-lg-4 text-center desc border-round p-4">
            <span [innerHTML]="project.main_desc | translate"></span>
            <span *ngIf="project.github">
                <br>
                <a href="{{ project.github }}" target="_blank" class="float-end">
                    <img src="assets/images/github.png" class="skill" style="width: 30px; height: 30px;">
                </a>
            </span>
        </div>

    </div>


    <div class="row justify-content-center" *ngFor="let part of project.parts; let i = index">

        <hr>

        <div class="col-12 col-lg-10">
            <div class="container-fluid">
                <div class="row border-round justify-content-center p-4 my-3">

                    <div class="col-12 col-lg-5 p-lg-4 p-2">

                        <h2 *ngIf="part.title" class="mb-lg-4 mb-2"><i>{{ part.title | translate }}</i></h2>
                        <p class="p-2" [innerHTML]="part.desc | translate"></p>


                    </div>

                    <div *ngIf="part.template" class="col-12 col-lg-7 p-2 text-center" [innerHTML]="sanitizer.bypassSecurityTrustHtml(part.template)">

                    </div>

                    <div class="col-12 col-lg-7 p-2" *ngIf="part.video">
                        <div class="ratio ratio-16x9">
                            <iframe [src]="part.video" title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>






    </div>


    <div class="row justify-content-center">


        <button (click)="back()" class="btn btn-warning col-5 col-lg-2 my-5">{{'Retour' | translate}}</button>

    </div>


</div>