.container {
    width: 75%;
}

.titre-cv {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    text-align: center;
    align-self: center;
    z-index: 5;
}

.submitButton {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(255, 238, 5) 0%, rgb(252, 255, 88) 90%);
}

.project {
    height: 150px;
    text-decoration: none;
    font-weight: bold;
    img {
        border-radius: 25%;
    }
    color: black;
}

.project:hover {
    text-decoration: underline;
    img {
        filter: grayscale(0);
        background: white;
    }
}

.experience {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(255, 215, 104) 10%, #F2Ce3E 90%);
}

.current-experience {
    border: 2px solid black;
}

.nav-link.active {
    background-color: black;
}

.box {
    background-color: transparent;
    width: 200px;
    height: 160px;
    perspective: 1000px;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.box:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front,
.box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-overflow: ellipsis;
}

.box-back {
    //background-color: #8ebf42;
    transform: rotateY(180deg);
}

#home-page {
    right: 0;
    margin-right: 0;
    width: calc(100% - 75px);
}


/*Responsive*/

@media screen and (max-width: 576px) {
    #home-page {
        width: calc(100% - 50px);
    }
}

.bg-fade {
    //background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(128, 248, 174, 1) 0%, rgba(223, 244, 148, 1) 90%);
}

.experience {
    cursor: pointer;
}

.experience:not(.collapsed) .deploy-icon {
    transform: rotate(-90deg);
    transition: all ease-in-out 0.2s;
}

.experience.collapsed .deploy-icon {
    transition: all ease-in-out 0.2s;
}

h1.title-home {
    margin-top: 2em;
    margin-bottom: 1em;
}

h1.title-home:before,
h3.title-home:before,
h1.title-home:after,
h3.title-home:after {
    content: "--";
    padding: 0 10px;
    color: #F2Ce3E;
    font-style: italic;
}