.desc {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(255, 215, 104) 10%, #F2Ce3E 90%);
}

h2:before,
h2:after {
    content: "--";
    padding: 0 10px;
    color: #F2Ce3E;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    // img {
    //     background: white;
    // }
    // h1,
    // h2,
    // h5,
    // p {
    //     color: white;
    // }
    // .desc {
    //     background-color: #485461;
    //     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    //     color: white;
    // }
    // hr {
    //     height: 2px;
    //     color: white;
    // }
}