*{font-family: 'Roboto', sans-serif;transition-duration:.3s;}
a{text-decoration:none;}
.nav {border-bottom: 0;}

body.dark{background-image:url("/assets/images/background.png");background-size:cover;background-position:center;background-repeat:no-repeat;}

.header,
.top,
.game-details,
.game-scores,
.sidebar{background-color: rgba(0,0,0,80%);border-radius:2px;}

.results{margin-right: 8px;padding:0;}
.results .game-details{display: flex;flex-wrap:wrap;padding:16px;border-top:4px solid black;align-items:center;}
.results .game-details img{max-width:48px;max-width:48px;}
.results .game-details .title{padding-left:10px;display: flex;flex-wrap:wrap;width:calc(100% - 48px);font-size:16px;}
.results .game-details .title h2{width:100%;font-size:16px;}
.results .game-details .title .author-block {margin-right:12px;width:auto;}
.results .game-details .title .plateform-block,
.results .game-details .title .studio-block{margin:0 12px;}
.results .game-details .title .author-block p,
.results .game-details .title .plateform-block p,
.results .game-details .title .studio-block{font-size:12px;margin:0;}

.results .game-scores{padding:16px;margin-top:50px;width:100%;border-top:4px solid black;min-height:200px;position: relative;}
.results .game-scores button{background-color: transparent;border: 1px solid white;color: white;padding: 5px 10px;border-radius: 3px;}
.results .game-scores button:hover{background-color: grey;border: 1px solid grey;}
.results .game-scores .tabs {position: absolute;top:-30px;left:0;display:flex;}
.results .game-scores .tabs .tab{padding:5px 10px;background-color:black;border-radius:5px 5px 0 0;margin-right:1px;height:30px;opacity:50%;border:0;color: white!important;}
.results .game-scores .tabs .active,
.results .game-scores .tabs .tab:hover{opacity:100%;}
.results .game-scores table {width:100%;}
.results .game-scores table img {height: 16px;max-height: 32px;}


.sidebar{margin-left:8px;margin-right:8px;padding:0;border-top:4px solid black;}
.sidebar .game-stats{display: flex;flex-wrap:wrap;padding: 10px;}
.sidebar .game-stats h2{width:100%;font-size:16px;}
.sidebar .game-stats .values{width:auto;display: flex;flex-wrap:wrap;justify-content:center;flex-direction:column;padding:0 5px}
.sidebar .game-stats .values-line{width:100%;display: flex;flex-wrap:wrap;justify-content:space-between;padding:0 5px;}
.sidebar .game-stats .values-line.even{background-color: rgba(0,0,0,80%);}
.sidebar .game-stats .values-line p{margin: 0;}
.sidebar .game-stats .values span{font-weight:bold;}
.sidebar .game-stats .values p{font-size:12px;}