body.dark{background-image:url("/assets/images/background.png");background-size:cover;background-position:center;background-repeat:no-repeat;}

.header,
.top,
.results,
.sidebar{background-color: rgba(0,0,0,80%);}

.header{height:56px;}
.top{height:250px;background-color: rgba(0,0,0,50%);}
.results{margin-right: 8px;}

.sidebar{margin-left:8px;margin-right:8px;padding:0;border-top:4px solid black;}
.sidebar .game-stats{display: flex;flex-wrap:wrap;padding: 10px;}
.sidebar .game-stats h2{width:100%;font-size:16px;}
.sidebar .game-stats .values{width:auto;display: flex;flex-wrap:wrap;justify-content:center;flex-direction:column;padding:0 5px}
.sidebar .game-stats .values span{font-weight:bold;}
.sidebar .game-stats .values p{font-size:10px;}