<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<div class="bg-danger">
    {{ error }}
    {{ gameStats | json }}
</div>
<div class="text-white container-fluid">
    <div class="row g-2">
        

        <div class="col-12 header">
            <h2>HEADER</h2>
        </div>

        <div class="col-6 offset-3 top">

        </div>

        <div class="col-6 offset-2 results">
            <div class="game-details">
                <img src="/assets/images/cover.png">
                <div class="title">
                    <h2>{{gameInfo.name}} ( {{gameInfo.released_year}} )</h2>
                    <div class="author-block">
                        <p *ngFor="let author of gameInfo.authors">{{author.first_name}} {{author.last_name}}</p>
                    </div>
                    <div class="plateform-block">
                        <p class="platform">( 
                            <span>{{gameInfo.platforms}}</span> )</p>
                    </div>
                </div>
                
            </div>

            <div class="game-scores">
                <nav ngbNav #nav="ngbNav" [(activeId)]="activeCategory" class="nav-tabs">
                    <ng-container [ngbNavItem]="index" *ngFor="let category of gameCategories; let index = index">
                        <a ngbNavLink>{{ category.name }}</a>
                        <ng-template ngbNavContent>
                            <game-category [categoryId]="category.id" [gameInfo]="gameInfo"></game-category>
                        </ng-template>
                    </ng-container>
                </nav>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
        </div>

        <div class="col-2 sidebar">
            <div class="game-stats">
                <h2>GAME STATS</h2>
                <div class="values">
                    <span class="number">{{gameStats.nb_players}}</span>
                    <p>PLAYER(S)</p>
                </div>
                <div class="values">
                    <span class="number">{{gameStats.nb_runs}}</span>
                    <p>RUN(S)</p>
                </div>

                <div class="values-line">
                    <p>Total run time :</p><span>{{gameStats.time_ms}}</span>
                </div>
            </div>
        </div>

        <div class="col-12 form">
            <form #form="ngForm" (submit)="onSubmit()" enctype='multipart/form-data' class="col-xl-2">

                <input (change)="data.image = $any($event).target.files[0]" name="image" type="file"/>
                <input (change)="data.video = $any($event).target.files[0]" name="video" type="file"/>
    
                <label>Pseudo</label>
                <input type="text" [(ngModel)]="data.pseudo" name="pseudo" required/>
    
                <label>Description</label>
                <input type="text" [(ngModel)]="data.desc" name="desc"/>
    
                <label>Link</label>
                <input type="text" [(ngModel)]="data.link" name="link"/>
    
                <label>Category</label>
                <select [(ngModel)]="data.category_id" name="category" required>
                    <option *ngFor="let category of gameCategories" [value]="category.id">{{ category.name }}</option>
                </select>
    
    
                <label>Score</label>
                <input type="text" mask="Hh:m0:s0:000||m0:s0:000" [dropSpecialCharacters]="false" [(ngModel)]="data.score" name="score" required/>
    
                <button [disabled]="!form.valid" type="submit">Submit</button>
            </form>
        </div>

    </div>

</div>

