<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<div class="bg-danger">
    {{ error }}
    <!-- {{ gameInfo | json }} -->
</div>
<div class="text-white container-fluid">
    <div class="row g-2">

        <div class="col-md-6 col-12 offset-md-3 top">

        </div>

        <div class="col-md-6 col-12 offset-md-2 results">
            <div class="game-details">
                <img src="/assets/games/{{gameInfo.url_name}}.png">
                <div class="title">
                    <h2>{{gameInfo.name}} ( {{gameInfo.released_year}} )</h2>
                    <div class="author-block">
                        <p *ngFor="let author of gameInfo.authors">{{author.first_name}} {{author.last_name}}</p>
                    </div>
                    <div class="studio-block">
                        <p>{{gameInfo.studio}}</p>
                    </div>
                    <div class="plateform-block">
                        <p class="platform">( 
                            <span>{{gameInfo.platforms}}</span> )</p>
                    </div>
                </div>
                
            </div>

            <div class="game-scores">
                <nav ngbNav #nav="ngbNav" [(activeId)]="activeCategory" class="nav-tabs tabs">
                    <ng-container [ngbNavItem]="index" *ngFor="let category of gameCategories; let index = index">
                        <a class="tab" ngbNavLink>{{ category.name }}</a>
                        <ng-template ngbNavContent>
                            <game-category [categoryId]="category.id" [emitRefresh]="refreshScore" [gameInfo]="gameInfo"></game-category>
                        </ng-template>
                    </ng-container>
                </nav>
                <button class="float-end" (click)="openAddScoreModal()">Enregistrer un temps</button>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
        </div>

        <div class="col-md-2 col-12 sidebar">
            <div class="game-stats">
                <h2>GAME STATS</h2>
                <div class="values">
                    <span class="number">{{gameStats.nb_players}}</span>
                    <p>JOUEUR(S)</p>
                </div>
                <div class="values">
                    <span class="number">{{gameStats.nb_runs}}</span>
                    <p>RUN(S)</p>
                </div>

                <div class="values-line odd">
                    <p>Temps de run cummulé :</p><span>{{convertMsToTime(gameStats.time_ms)}}</span>
                </div>
                <div class="values-line even">
                    <p>Jeu ajouté le :</p><span>{{gameInfo.created_at | date:'d MMMM y'}}</span>
                </div>
            </div>
        </div>

    </div>

</div>


