/* You can add global styles to this file, and also import other style files */

//@import "~bootstrap/scss/bootstrap.scss";
html,
body {
    margin: 0;
    min-height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    // background-image: url('/assets/images/background.jpg');
    // background-size: 50%;
}

body::after {
    content: "";
    z-index: -100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('/assets/images/background.jpg');
    background-size: 50%;
    opacity: 0.09;
    //transform: rotate(60deg);
}

// html::after {
    
// }

body a {
    color: black;
    text-decoration: underline;
    //bold
    font-weight: bold;
}
body a:hover {
    color: black;
    text-decoration: none;
}



.container-fluid {
    overflow-x: hidden;
}

.border-round {
    border-radius: 15px;
}

.ng-touched.ng-invalid {
    border-color: red;
}

.tooltip-inner {
    color: black !important;
    background-color: #F2Ce3E !important;
}

.bs-tooltip-top .tooltip-arrow {
    z-index: -1;
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #F2Ce3E !important;
}

.bg-fade {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(255, 215, 104) 10%, #F2Ce3E 90%);
}

.skill,
.link-account {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.skill:hover,
.link-account:hover {
    opacity: 0.6;
}

main {
    text-align: center;
    position: relative;
}

#contact a {
    color: black;
}

img.skill {
    width: 70px;
    height: 70px;
}

.resume-button {
    background-color: #ffffff00;
    border: black 2px solid;
    color: black;
  
    img {
      filter: invert(0);
    }
  }
  
  .resume-button:hover {
    //background-color: white;
    color: white;
    img {
      filter: invert(1);
    }
  }


body.dark {
    color: white;
    background-color: black;


    a {
        color: #F2Ce3E;
    }

    .experience .deploy-icon {
        filter: invert(1);
        color: #F2Ce3E;
    }
    .tooltip-inner {
        color: white !important;
        background-color: #485461 !important;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%) !important;
    }
    .bs-tooltip-top .tooltip-arrow::before {
        border-top-color: #485461 !important;
    }
    .nav-link.active {
        //background-color: black;
    }
    .nav-link img {
        filter: invert(100);
    }
    .experience .deploy-icon {
        color: white;
    }
    .skill {
        opacity: 0.5;
        filter: grayscale(1) invert(1);
        transition: opacity 0.2s ease-in-out;
    }
    .skill:hover {
        opacity: 1;
    }
    .link-account {
        opacity: 1;
        filter: grayscale(1) invert(1);
        transition: filter 0.2s ease-in-out;
    }
    .link-account:hover {
        opacity: 1;
        filter: grayscale(0) invert(0);
    }
    #hobbies {
        color: white;
    }
    #contact {
        color: white;
        img {
            filter: invert(100)
        }
        a {
            color: white;
        }
    }
    #skills {
        color: white;
    }
    #experiences {
        color: white;
    }
    .experience {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        color: white;
    }
    #about {
        color: white;
    }
    #projects {
        color: white;
    }
    .project {
        color: white;
        img {
            filter: invert(100) grayscale(100);
        }
    }
    .box-front {
        //background-color: #cccccc;
        img {
            filter: invert(100);
        }
        color: #111111;
    }
    .box-back {
        color: #eeeeee;
    }
    .bg-fade {
        color: white;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(27, 27, 27) 0%, rgb(47, 47, 47) 90%);
    }
    .submitButton {
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(185, 185, 185) 0%, rgb(255, 255, 255) 90%);
    }
    img.project-img {
        background: white;
    }
    h1,
    h2,
    h5,
    p {
        color: white;
    }
    .desc {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        color: white;
    }
    hr {
        height: 2px;
        color: white;
    }
    a.link-dark {
        color: rgb(182, 182, 182);
    }
    #contact a {
        color: white;
    }

    .resume-button {
        background-color: #ffffff00;
        border: #F2Ce3E 2px solid;
        color: white;
      
        img {
          filter: invert(1);
        }
      }
      
      .resume-button:hover {
        background-color: #F2Ce3E;
        color: black;
        img {
          filter: invert(0);
        }
      }
}

body.speedrun-page {
    background-image: url("/assets/images/background-pixel1.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

;

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';