.header{height:70px;display:flex;justify-content:center;align-items:center;}
.header .navbar {display: flex;justify-content: space-around;align-items: center;}
.header .navbar img{height: 50px;}
.header .navbar a {color: white;}
